<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud 07/11</title>
    <link rel="stylesheet" href="../static/Css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body  style="margin:0%" class="bg-info">
    <header class="bg-info">
         <div class="h2 text-center"><h1>CRUD Usuarios</h1></div>
    </header>
    <section>
        <div class="container mt-6">
            <div class="col -sm-6">
                <form th:method="post" th:action="@{/guardarInstrumento}" th:object="${instrumento}">
                    <div class="card">
                        <div class="card-header">
                            <h1>Agregar Instrumento</h1>
                        </div>
                        <div class="card-body">
                                <!-- Nombre -->
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" th:field="*{nombre}" class="form-control" required >
                            </div>
                                <!-- Contraseña -->
                            <div class="form-group">
                                <label for="nombre">Precio</label>
                                <input type="password" min="0" th:field="*{precio}" class="form-control" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"  required >
                            </div>
                                <!-- Edad -->
                            <div class="form-group">
                                <label for="nombre">Descripcion</label>
                                <input type="text" th:field="*{descripcion}" class="form-control" onkeypress="return check(event)" required >
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="submit" value="Guardar" class="btn btn-success">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<script>
    function check(e) {
        tecla = (document.all) ? e.keyCode : e.which;

        //Tecla de retroceso para borrar, siempre la permite
        if (tecla == 8) {
            return true;
        }

        // Patrón de entrada, en este caso solo acepta numeros y letras
        patron = /[A-Za-z0-9]/;
        tecla_final = String.fromCharCode(tecla);
        return patron.test(tecla_final);
    }
</script>
</html>