<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud 07/11</title>
    <link rel="stylesheet" href="../static/Css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body  style="margin:0%" class="bg-info">
    <header class="bg-info">
         <div class="h2 text-center"><h1>Cruds</h1></div>
    </header>
    <section>
        <div class="container mt-4" style="display: block;margin: auto;width: 50%;text-align: center;">
            <h1>Ha ocurrido un error inesperado, posiblemente no exista esta pagina o este momentaneamente fuera de servicio.
                Puedes volver a la pagina principal<a style="display: block;margin:auto;"  th:href="@{/}">Aqui </a></h1>
        </div>
    </section>
    <footer class="bg-info">
	<h1 class="text-center">Esta es mi pagina</h1>
    </footer>
</body>
</html>
